body {
	/* Color by sech1p - github.com/sech1p */
	background-color: #362D26;
}

#name {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	color: white;
	margin-top: 50px;
	align: center;
}

.fab {
	font-size: 56px;
	color: white;
	margin: 4px;
	text-align: center;
}